body {

}
img{
    max-width:75% ;
}
.principal{
  background: #cccccc;
}
p {
  text-align: center
}

em strong {
  color: #ff0000;
}
.itens{
   font-style: italic
}
.beneficos {
    background: #ffffff;
    padding: 20px;
}
h2{
  text-align: center
}
ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15% ;
}
.imagembeneficios{
  width: 50%;
}

